.App {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.App-header h1 {
  color: #444;
  font-size: 28px;
  font-weight: 500;
  font-family: "Roboto" sans-serif;
  text-align: center;
}

.App h2 {
  font-size: 18px;
  margin-left: 14px;
  font-weight: 400;
}
