.card {
  margin: 8px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px 14px;;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.card-header span {
  font-weight: bold;
  text-transform: capitalize;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 3px;
}

.card-content.primary {
  background-color: #d3f6f3;
}

.card-content.secondary {
  background-color: #f9fce1;
}

.card-content .user {
  display: flex;
  align-items: center;
}

.card-content .user img {
  width: 38px;
  height: auto;
  border-radius: 50%;
}

.card-content .user .user-data {
  margin-left: 18px;
  color: #000;
}

.card-content .user .user-data .from {
  font-size: 12px;
}

.card-content.secondary .from {
  color: #83b582;
}

.card-content.primary .from {
  color: #4f81c7;
}

.card-content .ext-info {
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.card-content.secondary .ext-info {
  color: #83b582;
}

.card-content.primary .ext-info {
  color: #4f81c7;
}
